<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>예시</h1>
<span th:text="${data}">html data</span>
<h1>1. 표준 HTML 주석</h1>
<!--
<span th:text="${data}">html data</span>
그대로 남겨놓고 렌더링하지 않음. ( 볼 순 있음 )
-->
<h1>2. 타임리프 파서 주석</h1>
<!--/* [[${data}]] */-->
<!-- 렌더링할 때 지워버림(아예 안 보임) -->
<!--/*--> 이 사이에 있는 코드는 주석 처리
<span th:text="${data}">html data</span>
<!--*/-->
<h1>3. 타임리프 프로토타입 주석</h1>
<!--/*/
<span th:text="${data}">html data</span>
/*/-->
<!-- 파일로 열 때는 렌더링 x, 타임리프로 열 때는 렌더링 o -->

</body>
</html>